<div class="container py-4" *ngIf="usuarios; else loading">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>Id</th>
        <th>Name</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody>
      {{ searchTerm }}
      <tr
        *ngFor="
          let usuario of usuarios
            | reverse
            | searchFilter: searchTerm
            | paginate: { itemsPerPage: 5, currentPage: p }
        "
      >
        <td class="checkbox-column">
          <input type="checkbox" [(ngModel)]="usuario.selected" />
        </td>
        <th>{{ usuario.id }}</th>
        <td>{{ usuario.name }}</td>
        <td>{{ usuario.username }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="row pagination-row">
  <pagination-controls
    (pageChange)="p = $event"
    [responsive]="true"
    [previousLabel]="'Anterior'"
    [nextLabel]="'Próxima'"
  >
  </pagination-controls>
</div>
<ng-template #loading>
  <div class="container py-4">
    <span>Carregando usuários...</span>
  </div>
</ng-template>
