<div class="container">
  <div class="row">
    <div class="col-sm-10">
      <h3>Novo Usuário</h3>
    </div>
    <div class="col-sm-2">
      <app-form-btn [formulario]="form"></app-form-btn>
    </div>
  </div>
</div>
<div class="container py-4">
  <form class="row g-3" [formGroup]="form">
    <div class="col-md-4">
      <input
        type="text"
        class="form-control mb-2 mr-sm-2"
        formControlName="name"
        placeholder="Nome"
        [ngClass]="{
          'is-invalid': !form.controls['name'].pristine && hasError('name')
        }"
      />
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        formControlName="username"
        placeholder="Nome de Usuário"
        [ngClass]="{
          'is-invalid': !form.controls['username'].pristine && hasError('username')
        }"
      />
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
    <div class="col-md-4">
      <input
        type="password"
        class="form-control"
        formControlName="password"
        placeholder="Senha"
        [ngClass]="{
          'is-invalid': !form.controls['password'].pristine && hasError('password')
        }"
      />
      <div class="invalid-feedback">Campo obrigatório</div>
    </div>
  </form>
</div>
