<div class="d-flex justify-content-end">
  <div>
    <app-search-bar></app-search-bar>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 5px" [routerLink]="['novoUsuario']">
      Novo
    </button>
    <button type="button" class="btn btn-warning btn-sm" style="margin-left: 5px" [routerLink]="['alterarUsuario/:id']">
      Alterar
    </button>
    <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px">
      Excluir
    </button>
  </div>
</div>
