<div class="d-flex justify-content-end">
  <div>
    <app-search-bar></app-search-bar>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-sm" style="margin-left: 5px" [routerLink]="['novoUsuario']">
      Novo
    </button>
    <button type="button" class="btn btn-warning btn-sm" style="margin-left: 5px" (click)="onEdit(1, usuarios)">
      Alterar
    </button>
    <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5px" (click)="onDelete(usuarios)">
      Excluir
    </button>
  </div>
</div>

<ng-template #deleteModal>
  <div class="modal-body text-center">
    <p>Deseja mesmo remover o registro?</p>
    <button type="button" class="btn btn-default" (click)="onConfirmDelete()">Sim</button>
    <button type="button" class="btn btn-primary" (click)="onDeclineDelete()">Não</button>
  </div>
</ng-template>
