<div class="d-flex justify-content-end">
  <div>
    <app-search-bar></app-search-bar>
  </div>
  <div>
    <button type="button" class="btn btn-primary btn-sm" [disabled]="!usuarios" [routerLink]="['novoUsuario']">
      Novo
    </button>
    <button type="button" class="btn btn-warning btn-sm" [disabled]="!usuarios" (click)="onEdit(usuarios)">
      Alterar
    </button>
    <button type="button" class="btn btn-danger btn-sm" [disabled]="!usuarios" (click)="onDelete(usuarios)">
      Excluir
    </button>
  </div>
</div>
